{% comment %}
  Renders a product card placeholder

  Usage:
  {% render 'card-product-placeholder' %}
{% endcomment %}

<div class="card-wrapper d-flex flex-column position-relative placeholder cursor-no-drop">
  <div class="card position-relative" tabindex="-1">
    <div>
      <div class="media media--transparent media--hover-effect">
        {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>
  </div>
  <div class="card-information">
    <div class="card-information__wrapper w-100">
      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
      <h3 class="card-information__text mb-0">
        {{ 'placeholder.product_title' | t }}
      </h3>
      {% render 'price' %}
    </div>
  </div>
</div>
