.template-404 {
    &__inner {
        padding: 0 0 75px;
        @include media-breakpoint-up(md) {
            padding: 0 0 100px;
        }
    }
    &__title {
        margin-bottom: 2rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 2.4rem;
        }
    }
    &__btn {
        margin-top: 2.5rem;
        @include media-breakpoint-up(md) {
            margin-top: 4.7rem;
        }
    }
}
